@charset "utf-8";
/* CSS Document */

/*
#topbar{
	position: absolute;
	left: -1px;
	top: 1px;
	width: 1440px;
	height: 30px;
	background: url(../img/topbrnobuttons.png);
	z-index: 100;
}
 */
 


#navbar{
position:absolute;
width:1440px;
height:65px;
background:url(../img/navbar.png);
z-index: 98;
left: 0px;
top: 1px;
}

#logo h1 {
	position: absolute;
	border: 0;
	width: 370px;
	height: 65px;
	margin: 0;
	padding: 0;
	background: url(../img/Logo.png) no-repeat 0 0;
	z-index: 99;
	top: 0px;
	left: 0px;
}


#logo h1 a {
 display: block;
 height: 60px;
 text-indent: -9999px; 
}


#maincontainer{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 5px;
	background-repeat: no-repeat;
	width: 1440px;
	height: 900px;
	background: url(../img/bg.png);
	z-index:-1;
	
}
